<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/shared/menu-create.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/shared/btn-avatar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/shared/sidebar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/shared/search-bar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/shared/profile-menu.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="~/SmartCards.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
</head>
<body>
    @if (!(ViewData["HideNavbar"] as bool? ?? false))
    {
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white py-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <button class="menu-toggle">
                        <i class="fas fa-bars"></i>
                    </button>

                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="/images/icons/quizlet-logo.png" class="logo-quizlet">
                    </a>

                    <form class="form-search" role="search">
                        <div class="search-input-group input-group">
                            <input class="search-bar" type="search" placeholder="Tìm kiếm" aria-label="Search">
                        </div>
                    </form>
                    <partial name="_MenuManagePartial" />
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    }
    
    <div class="layout">
        @if (!(ViewData["HideSidebar"] as bool? ?? false))
        {
            <aside class="sidebar" id="sidebar">
                <partial name="_SidebarPartial" />
            </aside>
        }
        <main role="main" class="content pb-3">
            @if (!(ViewData["NotContainer"] as bool? ?? false))
            {
                <div class="container">
                    @RenderBody()
                </div>
            }
            else
            {
                @RenderBody()
            }

            @if (!(ViewData["HideFooter"] as bool? ?? false))
            {
                <div class="bg-white footer text-muted">
                    <div class="footer-links">
                        <a asp-controller="Home" asp-action="Privacy">Quyền riêng tư</a>
                        <a asp-controller="Home" asp-action="Privacy">Điều khoản</a>
                    </div>
                </div>
            }
        </main>
        
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
