@using Microsoft.AspNetCore.Identity
@using SmartCards.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);  // Lấy thông tin người dùng hiện tại
    var email = user?.Email;  // Lấy email
    var username = user?.UserName;  // Lấy username
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        
        <div class="dropdown ">
            <a class="btn-avatar dropdown-toggle" id="managedropdownmenu"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Avt
            </a>

            <ul class="dropdown-menu dropdown-profile-menu mt-2" aria-labelledby="managedropdownmenu">
                <li>
                    <div class="dropdown-item user-info">
                            <div class="btn-avatar" style="width: 64px; height: 64px;">Avt</div>
                        <div class="info">
                            <span class="username">@username</span> <br />
                            <span class="email">@email</span>
                        </div>
                    </div>
                </li>
                <hr />
                <li>
                    <a class="dropdown-item dropdown-action">
                        <i class="fa-solid fa-trophy"></i>
                        <span>Thành tựu</span>
                    </a>
                </li>
                <li>
                    <a id="manage" class="dropdown-item dropdown-action" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        <i class="fa-solid fa-gear"></i>
                        <span>Cài đặt</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item dropdown-action">
                        <i class="fa-solid fa-moon"></i>
                        <span>Tối</span>
                    </a>
                </li>
                <hr />
                <li>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="dropdown-item dropdown-action">
                            Đăng xuất
                        </button>
                    </form>
                </li>
                <hr />
                <li>
                    <a class="dropdown-item dropdown-action">
                        <span>Quyền riêng tư</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item dropdown-action">
                        <span>Giúp đỡ và phản hồi</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item dropdown-action">
                        <span>Nâng cấp</span>
                    </a>
                </li>
            </ul>
        </div>
        
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Signup</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
