<ul class="menu-list">
    <a class="menu-item active" asp-action="Index" asp-controller="Home">
        <i class="fas fa-home"></i>
        <span>Trang chủ</span>
    </a>
    <a class="menu-item" asp-action="Index" asp-controller="Folder">
        <i class="fa-regular fa-folder"></i>
        <span>Thư viện của bạn</span>
    </a>
    <li class="menu-item notification">
        <i class="fa-regular fa-bell"></i>
        <span>Thông báo</span>
    </li>
    <hr>
    <li class="menu-title">Bắt đầu tại đây</li>
    <a class="menu-item" asp-action="Create" asp-controller="Course">
        <img src="/images/icons/card.png" alt="Icon">
        <span>Thẻ ghi nhớ</span>
    </a>
</ul>