@{
	ViewData["Title"] = $"Thẻ ghi nhớ: {ViewBag.CourseTitle} | QuizletClone";
	ViewData["HideSidebar"] = true; // Ẩn sidebar
}
@section Styles {
	<link rel="stylesheet" href="~/css/shared/passwordRequired.css" />
}
<div class="passwordRequied-container">
	<div class="password-box">
		<h2>Cần nhập mật khẩu!</h2>
		<h3>"@ViewBag.CourseTitle"</h3>
		<form method="post" asp-controller="Course" asp-action="VerifyPassword" asp-route-slug="@ViewBag.Slug">
			<label class="@TempData["PasswordError"]">
				<input class="custom-input" type="password" name="password" autocomplete="off" autofocus />
				<span>@(TempData["PasswordError"] != null ? "MẬT KHẨU KHÔNG ĐÚNG" : "MẬT KHẨU")</span>
			</label>
			<button type="submit">Nhập mật khẩu</button>
		</form>
	</div>
</div>