
@import url('../folder/styleForModal.css');

.add-course-to-folder-modal .modal-content {
    display: flex;
    gap: 15px;
    padding: 30px;
}

.add-course-to-folder-modal .modal-content h2{
    margin: 16px 0;
}

.add-course-to-folder-modal .modal-header {
    padding: 0;
}

.add-course-to-folder-modal .modal-body {
    display: flex;
    flex-direction: column;
    padding: 0;
    max-height: 60vh;
    overflow-y: auto;
}

.add-course-to-folder-modal .modal-body .btn-create-course {
    align-self: end;
    border: 2px solid transparent;
    border-radius: .5rem;
    cursor: pointer;
    padding: 8px 14px;
    font-size: .875rem;
    font-weight: 600;
    color: var(--blue-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-course-to-folder-modal .modal-footer{
    padding: 0;
}

.add-course-to-folder-modal .modal-footer .btn-complete {
    background: var(--blue-color);
    color: white;
    border: 2px solid transparent;
}

.add-course-to-folder-modal .modal-footer .btn-complete:hover {
    background: var(--btn-blue-hover-color);
}

.course-actions .btn-add-to-folder {
    border: 2px solid transparent;
}

.course-actions .btn-add-to-folder i{
    font-size: 1.2rem;
}

.option img {
    width: 20px;
}

.empty-course-list {
    background: var(--btn-secondary-hover-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: .5rem;
    padding: 1.5rem 0;
    justify-content: center;
    align-items: center;
}

.message {
    color: var(--dark-grey-color);
    font-weight: 600;
    font-size: .875rem;
}

.btn-create-new {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--blue-color);
    color: white;
    font-size: .875rem;
    font-weight: 600;
    padding: .375rem .875rem;
    border-radius: .5rem;
    min-height: 2.5rem;
}

.btn-create-new:hover {
    background: var(--btn-blue-hover-color);
    color: white;
}