
.confirm-delete-folder-modal .modal-content {
    border-radius: 20px;
    display: flex;
    gap: 20px;
    padding: 32px;
}

.confirm-delete-folder-modal .modal-header {
    border-bottom: none;
    padding: 0; 
}

.confirm-delete-folder-modal .modal-body{
    padding: 0;
}

.confirm-delete-folder-modal .modal-body p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--black-color);
}

.confirm-delete-folder-modal .modal-footer{
    padding: 0;
    border-top: none;
    display: flex;
    gap: 10px;
}

.confirm-delete-folder-modal .modal-footer * {
    margin: 0;
}

.confirm-delete-folder-modal .modal-header h2 {
    font-weight: 700;
}

.confirm-delete-folder-modal .modal-footer button {
    font-weight: 600;
    font-size: 1rem;
    min-height: 2.5rem;
    padding: 0 15px;
    border-radius: .5rem;
}

.confirm-delete-folder-modal .modal-footer .btn-confirm-delete {
    background: var(--cherry-color);
    color: white;
    border: 2px solid transparent;
}

.confirm-delete-folder-modal .modal-footer .btn-confirm-delete:hover {
    background: #da4543;
}

.confirm-delete-folder-modal .modal-footer .btn-cancel:hover {
    background: var(--btn-secondary-hover-color);
}

.confirm-delete-folder-modal .modal-footer .btn-cancel {
    background: white;
    color: var(--dark-grey-color);
    border: 2px solid var(--border-button-color);
}