
@import url('../folder/styleForModal.css');

.confirm-delete-folder-modal .modal-content {
    display: flex;
    gap: 20px;
    padding: 32px;
}

.confirm-delete-folder-modal .modal-header {
    padding: 0; 
}

.confirm-delete-folder-modal .modal-body{
    padding: 0;
}

.confirm-delete-folder-modal .modal-body p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--black-color);
}

.confirm-delete-folder-modal .modal-footer{
    padding: 0;
    border-top: none;
    display: flex;
    gap: 10px;
}

.confirm-delete-folder-modal .modal-footer * {
    margin: 0;
}