.body{
    background: white;
}

.container{
    display: flex;
    justify-content: center;
}

.folder-detail-container {
    width: 90%;
    min-height: 90vh;
}

.folder-detail-container header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 0;
}

.folder-detail-container header .header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 40px;
}

.folder-detail-container header .header-content .folder-title h1{
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
    border-radius: .5rem;
}

.folder-detail-container header .header-content .folder-title h1:hover{
    background: var(--btn-secondary-hover-color);
}

.folder-title textarea {
    background: var(--btn-secondary-hover-color);
    border-radius: .5rem;
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 2rem;
}

.folder-detail-container header .header-content .action-btns {
    display: flex;
    gap: 7px;
    max-height: 40px;
}

.folder-detail-container header .header-content .action-btns .btn{
    height: 100%;
    width: auto;
    border: 2px solid var(--border-button-color);
    font-weight: 600;
    font-size: .875rem;
    border-radius: .5rem;
    color: var(--dark-grey-color);
    display: flex;
    align-items:center;
    gap: 10px;
}

.folder-detail-container header .header-content .action-btns .btn:hover{
    background: var(--btn-secondary-hover-color);
}

.inactive {
    color: var(--border-button-color) !important;
    cursor: default !important;
}

.btn.inactive:hover {
    background: none !important;
}

.folder-detail-container header .folder-info {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--dark-grey-color);
    font-size: 1.1rem;
    font-weight: 600;
}

.folder-info .folder-creator-name {
    color: var(--blue-color);
    text-decoration: none;
}

.folder-info .folder-creator-name:hover {
    color: var(--btn-blue-hover-color);
}

.filter-search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

/* Filter Select */
.filter-search-container .select-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: auto;
    height: 40px;
}

.filter-search-container .selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.filter-search-container .selected i{
    margin-left: 8px;
}

.filter-search-container .custom-select {
    width: 100%;
    border-radius: .5rem;
    cursor: pointer;
    padding: 10px 15px;
    font-size: .875rem;
    font-weight: 600;
    color: var(--dark-grey-color);
    display: flex;
    align-items: center;
}

.filter-search-container .custom-select:hover{
    background-color: var(--btn-secondary-hover-color);
}

.filter-search-container .options {
    position: absolute;
    top: 42px;
    left: 0;
    width: 150%;
    background-color: white;
    border: 1px solid var(--border-button-color);
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    padding: 10px 0;
    z-index: 1000;
}

.filter-search-container .option {
    padding: 10px 15px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: var(--dark-grey-color);
}

.filter-search-container .option:hover {
    background-color: var(--btn-secondary-hover-color);
    color: var(--dark-grey-color);
}

/* Hiển thị dropdown khi active */
.custom-select.active .options {
    display: inline-block;
    width: 200px;
}

/* Item list */
.course-list .course-item{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    padding: 14px;
    border-radius: .5rem;
    text-decoration: none;
}

.course-list .course-item:hover{
    background: var(--bg-color-grey);
}

.course-list .course-item .course-icon{
    width: 40px;
}

.course-list .course-item .course-icon img{
    background: #EAF9FF;    
    border-radius: .5rem;
    padding: 8px;
    width: 100%;
}

.course-list .course-item .course-content{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.course-list .course-item .course-content .title{
    margin: 0;
    color: var(--black-color);
    font-size: .875rem;
    font-weight: 700;
}

.course-list .course-item .course-content .course-info {
    color: var(--dark-grey-color);
    display: flex;
    align-items: center;
    gap: .25rem;
    font-weight: 700;
    font-size: .875rem;
}

.course-list .course-item .course-actions {
    margin-left: auto;
    display: flex;   
    width: 40px;
    height: 40px;
    justify-content: center;
}

.btn-delete{
    border: none;
    background: none;
    border-radius: .5rem;
    padding: 9px;
    width: 100%;
    color: var(--dark-grey-color);
}

.btn-delete:hover{
    background: var(--btn-secondary-hover-color);
}

.highlight {
    background-color: var(--yellow-color);
}

.card-item-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-grey-color);
    font-weight: 600;
    font-size: .875rem;
    background: var(--btn-secondary-hover-color);
    border-radius: .5rem;
    padding: 1rem;
    height: 4rem;
}

/* Button Other */
.btn-options {
    border: 2px solid var(--border-button-color);
    border-radius: .5rem;
    cursor: pointer;
    padding: 6px 12px;
    font-size: .875rem;
    font-weight: 600;
    color: var(--dark-grey-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.btn-options:hover {
    background-color: var(--btn-secondary-hover-color);
}

.btn-options .selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.btn-options .options {
    position: absolute;
    top: 45px;
    right: 0;
    background-color: white;
    border: 1px solid var(--border-button-color);
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    padding: 10px 0;
    z-index: 1000;
}

.btn-options .option {
    padding: 8px 24px;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    color: var(--dark-grey-color);
    gap: 20px;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

.btn-options .option i{
    font-size: 1.2rem;
}

.btn-options .option:hover {
    background-color: var(--btn-secondary-hover-color);
    color: var(--dark-grey-color);
}

/* Hiển thị dropdown khi active */
.btn-options.active .options {
    display: inline-block;
    width: 200px;
}