<div class="confirm-delete-folder-modal">
    <div class="modal" tabindex="-1" id="confirm-delete-folder-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Xóa thư mục này?</h2>
                </div>
                <div class="modal-body">
                    <p class="m-0">Thư mục sẽ bị xóa vĩnh viễn nhưng bạn sẽ có thể tìm thấy nội dung từ thư mục đó trong thư viện của mình.</p>
                    <input type="hidden" name="userId" value="userId" />
                </div>
                <div class="modal-footer">
                    <button class="btn-cancel" data-bs-dismiss="modal">Hủy</button>
                    <button class="btn-confirm-delete">Xóa thư mục</button>
                </div>
            </div>
        </div>
    </div>
</div>