@using SmartCards.DTOs.Folder
@model FolderDTO

@{
	ViewData["Title"] = $"Thư mục {Model.Title} | Quizlet-Clone";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
	<link rel="stylesheet" href="~/css/folder/detail.css" />
	<link rel="stylesheet" href="~/css/userLibrary/searchBox.css" />
}

<div class="folder-detail-container">
	<header>
		<div class="header-content">
			<div class="folder-title">
				<h1>@Model.Title</h1>
			</div>

			<div class="action-btns">
				<button class="btn">
					Học
				</button>
				<button class="btn">
					<i class="fa-solid fa-plus"></i>
				</button>
				<button class="btn">
					<i class="fa-solid fa-ellipsis"></i>
				</button>
			</div>
		</div>

		<div class="last-edited">
			<i class="fa-solid fa-clock-rotate-left"></i>
			Chỉnh sửa ngày 5/3/25
		</div>
	</header>

	<div class="filter-search-container">
		<div class="select-container">
			<div class="custom-select">
				<div class="selected" data-value="created">
					Các mục gần đây
					<i class="fa-solid fa-angle-down"></i>
				</div>
				<div class="options">
					<a class="option">Các mục gần đây</a>
					<a class="option">Tiêu đề</a>
				</div>
			</div>
		</div>

		@await Html.PartialAsync("../UserLibrary/Shared/_SearchBoxPartial.cshtml", new
			{
				title = "Tìm kiếm thư mục này",
				backgroundColor = "var(--bg-color-grey)"
			})
	</div>
</div>

<script type="module" src="~/js/folder/main.js"></script>
<script type="module" src="~/js/userLibrary/main.js"></script>