@model dynamic
<div class="search-container" style="background: @Model.backgroundColor">
    <input type="text" style="background: @Model.backgroundColor" id="searchInputInLibrary" placeholder="@Model.title" autocomplete="off" />
    <i class="fa-solid fa-magnifying-glass" title="@Model.title"></i>
</div>