@using SmartCards.DTOs.Course
@model LearnCourseDTO
@{
	ViewData["Title"] = $"Học: {Model.Title} | SmartCards";
	ViewData["HideNavbar"] = true; // Ẩn navbar của _Layout.cshtml
	ViewData["NotContainer"] = true;
}
@section Styles {
	<link rel="stylesheet" href="~/css/course/learnMode.css" />
}

<div class="learn-container">
	<div class="row g-0 py-3 px-4 my-3">
		<div class="col-4">
			<div class="dropdown">
				<button class="dropdown-toggle">
					<i class="fa-solid fa-book text-primary"></i>
					<span>Học</span>
					<i class="fa-solid fa-angle-down" style="font-size: small;"></i>
				</button>
				<div class="dropdown-menu">
					<a href="#" class="dropdown-item">
						<i class="fa-regular fa-copy text-primary" style="transform: rotate(-90deg);"></i>
						<span>Thẻ ghi nhớ</span>
					</a>
					<a href="#" class="dropdown-item">
						<i class="fa-regular fa-check-circle text-primary"></i>
						<span>Kiểm tra</span>
					</a>
					<a href="#" class="dropdown-item">
						<i class="fa-solid fa-puzzle-piece text-primary"></i>
						<span>Ghép thẻ</span>
					</a>
					<hr class="dropdown-divider">
					<a href="#" class="dropdown-item"><span>Trang chủ</span></a>
					<a href="#" class="dropdown-item"><span>Tìm kiếm</span></a>
				</div>
			</div>
		</div>

		<div class="col-4 d-flex justify-content-center align-items-center">
			<a asp-controller="Course" asp-action="Details" asp-route-slug="@Model.Slug" 
			   class="btn-title">@Model.Title</a>
		</div>

		<div class="col-4">
			<a asp-controller="Course" asp-action="Details" asp-route-slug="@Model.Slug"
			   class="common-btn custom-btn-close float-end">
				<i class="fa-solid fa-xmark"></i>
		   </a>

		   <button class="float-end common-btn btn-option">
			   Tùy chọn
		   </button>
		</div>
	</div>
</div>

<script type="module" src="~/js/course/learnMode/main.js"></script>