@using SmartCards.DTOs.Folder
@model List<UserLibraryFolderDTO>
@{
    ViewData["Title"] = $"{ViewBag.Username} | Quizlet-Clone";
    Layout = "~/Views/UserLibrary/Shared/_Layout.cshtml";
}

<div class="content-container">
    <!-- Filter and Search Bar -->
    <div class="row">
        <div class="col-6 d-flex align-items-center">
            <div class="select-container">
                <div class="custom-select">
                    <div class="selected" data-value="created">
                        Đã tạo
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="options">
                        <div class="option" data-value="marked">Đã đánh dấu</div>
                        <div class="option" data-value="created">Đã tạo</div>
                        <div class="option" data-value="recently">Gần đây</div>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.Count > 0){
            <div class="col-6">
                <div class="search-container">
                    <input type="text" id="searchInputInLibrary" placeholder="Tìm kiếm thư mục" autocomplete="off" />
                    <i class="fa-solid fa-magnifying-glass" title="Tìm kiếm thư mục"></i>
                </div>
            </div>
        }
    </div>

    <!-- Folder List -->
    <div class="list-group folder-group">
        @if (Model.Count > 0){ 
            @foreach (var folder in Model)
            {
                <div class="card folder-item card-item" onclick="pageRedirect('/folders/@folder.Slug')">
                    <div class="tag">
                        <span class="items-count">@folder.QuantityCourse mục</span>
                    </div>
                    <div class="title">
                        <i class="fa-regular fa-folder icon-folder"></i>
                        <span class="px-1">@folder.Title</span>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="list-group-empty">
                <img src="/images/icons/folders_empty.svg" width="200" />
                <div class="title text">Bạn chưa tạo thư mục nào</div>
                <span class="text">Tạo một thư mục để sắp xếp các học phần</span>
                <button type="button" class="btn"
                        data-bs-toggle="modal" data-bs-target="#create-folder-modal">
                    Tạo thư mục
                </button>
            </div>
            @await Html.PartialAsync("/Views/Folders/CreateFolderModal.cshtml")
        }
    </div>
</div>