@{
    ViewData["Title"] = $"{ViewBag.Username} | Quizlet-Clone";
    Layout = "~/Views/UserLibrary/Shared/_Layout.cshtml";
}

<div class="content-container">
    <!-- Filter and Search Bar -->
    <div class="row">
        <div class="col-6 d-flex align-items-center">
            <div class="select-container">
                <div class="custom-select">
                    <div class="selected" data-value="created">
                        Đã tạo
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="options">
                        <div class="option" data-value="marked">Đã đánh dấu</div>
                        <div class="option" data-value="created">Đã tạo</div>
                        <div class="option" data-value="recently">Gần đây</div>
                    </div>
                </div>
            </div>
        </div>

        @* @if (Folders.Count > 0){
        <div class="col-6">
            <div class="search-container">
                <input type="text" placeholder="Tìm kiếm thư mục" />
                <i class="fa-solid fa-magnifying-glass" title="Tìm kiếm thư mục"></i>
            </div>
        </div>
        } *@
    </div>

    <!-- Folder List -->
    <div class="list-group folder-group">
        @* @if (Folders.Count > 0){ 
        @for (int i = 0; i < 10; i++)
            {
                <div class="card folder-item" onclick="pageRedirect('/tu-vung-bai-32-20250212042545987-1021')">
                    <div class="tag">
                        <span class="items-count">6 mục</span>
                    </div>
                    <div class="title">
                        <i class="fa-regular fa-folder icon-folder"></i>
                        <span class="px-1">Từ vựng bài 32 (N4)</span>
                    </div>
                </div>
            }
        } *@

        <div class="list-group-empty">
            <img src="/images/icons/folders_empty.svg" width="200" />
            <div class="title text">Bạn chưa tạo thư mục nào</div>
            <span class="text">Tạo một thư mục để sắp xếp các học phần</span>
            <button type="button" class="btn"
                    data-bs-toggle="modal" data-bs-target="#crea te-folder-modal">
                Tạo thư mục
            </button>
        </div>

        @await Html.PartialAsync("/Views/Folder/CreateFolderModal.cshtml")
    </div>
</div>