@using QuizletClone.DTOs.Folder
@model List<UserLibraryFolderDTO>
@{
    ViewData["Title"] = $"{ViewBag.Username} | QuizletClone";
    Layout = "~/Views/UserLibrary/Shared/_Layout.cshtml";
}

<div class="content-container">
    <!-- Filter and Search Bar -->
    <div class="row">
        <div class="col-6 d-flex align-items-center">
            <div class="select-container">
                <div class="custom-select">
                    <div class="selected" data-value="created">
                        Đã tạo
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="options">
                        <a class="option">Đã đánh dấu</a>
                        <a class="option">Đã tạo</a>
                        <a class="option">Gần đây</a>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.Count > 1){
            <div class="col-6">
                @await Html.PartialAsync("../UserLibrary/Shared/_SearchBoxPartial.cshtml", new {
				    title = "Tìm kiếm thư mục",
				    backgroundColor = "white"
			    })
            </div>
        }
    </div>

    <!-- Folder List -->
    <div class="list-group folder-group">
        @if (Model.Count > 0){ 
            @foreach (var folder in Model)
            {
                <div class="card-item">
                    <div class="card folder-item" onclick="pageRedirect('/folders/@folder.Slug')">
                        <div class="tag">
                            <span class="items-count">@folder.QuantityCourse mục</span>
                        </div>
                        <div class="title">
                            <i class="fa-regular fa-folder icon-folder"></i>
                            <span class="px-1">@folder.Title</span>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="list-group-empty">
                <img src="/images/icons/folders_empty.svg" width="200" />
                <div class="title text">Bạn chưa tạo thư mục nào</div>
                <span class="text">Tạo một thư mục để sắp xếp các học phần</span>
                <button type="button" class="btn"
                        data-bs-toggle="modal" data-bs-target="#create-folder-modal">
                    Tạo thư mục
                </button>
            </div>
            @await Html.PartialAsync("/Views/Folders/CreateFolderModal.cshtml")
        }
    </div>
</div>