@{
    ViewData["Title"] = $"{ViewBag.Username} | Quizlet-Clone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/css/userLibrary/main.css" />
}
<div class="library-container">
    <h2>Thư viện của bạn </h2>

    <!-- Tab Buttons -->
    <div class="tab-container">
        <a asp-controller="UserLibrary" asp-action="Courses" asp-route-username="@ViewBag.Username" 
            class="tab active">
            Học phần
        </a>
        <a class="tab">Bài kiểm tra thử</a>
        <a class="tab">Lời giải chuyên gia</a>
        <a asp-controller="UserLibrary" asp-action="Folders" asp-route-username="@ViewBag.Username"
            class="tab">
            Thư mục
       </a>
        <a class="tab">Lớp học</a>
    </div>

    <!-- Filter and Search Bar -->
    <div class="row">
        <div class="col-6">
            <div class="select-container">
                <div class="custom-select">
                    <div class="selected">
                        Gần đây
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="options">
                        <div class="option" data-value="created">Đã tạo</div>
                        <div class="option" data-value="recently">Gần đây</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="search-container">
                <input type="text" placeholder="Tìm kiếm thẻ ghi nhớ"/>
                <i class="fa-solid fa-magnifying-glass" title="Tìm kiếm thẻ ghi nhớ"></i>
            </div>
        </div>
    </div>
</div>

<script type="module" src="~/js/userLibrary/main.js"></script>