
/* Answers */
.quiz-card-answers{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
}

.quiz-card-answers .quiz-answer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border: .125rem solid var(--btn-secondary-hover-color);
    border-radius: .5rem;
    align-items: center;
    border-radius: .5rem;
    padding: 1rem;
    cursor: pointer;
}

.quiz-card-answers .quiz-answer:hover{
    border: .125rem solid var(--dark-grey-color);
}

.quiz-answer-text{
    font-weight: 400;
    font-size: 1.2rem;
}

.quiz-answer-no {
    border-radius: 50%;
    background: var(--btn-secondary-hover-color);
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    font-weight: 600;
    font-size: .875rem;
    color: var(--dark-grey-color);
    justify-content: center;
}

/* Quiz help button*/
.quiz-card-help .quiz-help-button {
    background-color: white;
    color: var(--blue-color);
}

.quiz-card-help .quiz-help-button:hover{
    background-color: #edefff;
}

/* Class is-correct được gắn vào án đúng sau khi chọn */
.quiz-answer.is-correct,
.quiz-answer.is-correct-2 {
    pointer-events: none;
    border-color: var(--green-deep);
}

.quiz-answer.is-correct-2 {
    border-style: dashed;
}

/* Ẩn số thứ tự khi đúng */
.is-correct .quiz-answer-no,
.is-correct-2 .quiz-answer-no {
    position: relative;
    color: transparent;
    background: transparent;
}

/* Hiển thị icon check */
.is-correct .quiz-answer-no::before,
.is-correct-2 .quiz-answer-no::before {
    content: '\f00c'; /* Font Awesome check icon */
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 1.4rem;
    color: var(--green-deep);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Class is-disabled được gắn vào các đáp án k được chọn và help button */
.is-disabled{
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
}

/* Class is-incorrect được gắn vào đáp án sai mà user đã chọn */
.quiz-answer.is-incorrect {
    pointer-events: none;
    border-color: var(--light-orange-color);
}

.is-incorrect .quiz-answer-no {
    position: relative;
    color: transparent;
    background: transparent;
}

.is-incorrect .quiz-answer-no::before {
    content: '\f00d'; /* Unicode cho icon fa-xmark */
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 1.7rem;
    color: var(--orange-deep);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}