
/* CSS này cho _ActionBarPartial.cshtml */

.course-detail-container .action-bar-container {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.course-detail-container .action-bar-container .folder-link{
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    color: var(--dark-grey-color);
    font-weight: 600;
    cursor: pointer;
    width: fit-content;
}

.course-detail-container .action-bar-container .folder-link:hover{
    color: var(--black-color);
}

/* Action bar */
.action-bar{
    display: flex;  
    flex-direction: row;
    gap: .5rem;
}

.action-bar button {
    border-radius: .5rem;
    border: 2px solid var(--light-green-color);
    background: none;
    color: var(--grey-color);
    padding: .4rem .7rem !important;
    height: 2.5rem;
}

.action-bar button:hover {
    background: var(--light-grey-color);
}

/* Folder link container */
.folder-link-container{
    display: flex;
    gap: .5rem;
    flex-direction: row;
    align-items: center;
}

/* Course title */
.course-detail-container .course-title {
    font-weight: 800;
}

/* Button options */
.btn-options.savedCourseFolder {
    border: .125rem solid #7583ff;
    color: var(--blue-color);
    background: var(--btn-secondary-hover-color);
}

.btn-options.savedCourseFolder:hover{
    border: .125rem solid #7583ff;
    color: var(--blue-color);
    background: var(--btn-secondary-hover-color);
}

.btn-options hr {
    margin: .25rem 0;
    background-color: var(--light-grey-color);
}

/* Button options: Other folders containing course */
.btn-options.other-folders {
    background: white;
    border-radius: 50%;
    border: .125rem solid transparent;
    width: 2rem;
    height: 2rem;
}

.btn-options.other-folders .options{
    left: 0;
}

.btn-options.other-folders .options .option.title {
    cursor: text;
}

.btn-options.other-folders .options .option.title:hover{
    background: none;
}