

.answer-input {
	display: block;
	width: 100%;
	font-weight: 600;
	font-size: 1rem;
	letter-spacing: normal;
	line-height: 1.5;
	background: var(--bg-color-grey);
	border: .125rem solid transparent;
	border-radius: .5rem;
	padding: .7rem 1rem;
}

.answer-input:focus{
	border-color: var(--light-blue-color);
	background: white;
}

/* Quiz answer button */
.input-answer-quiz .quiz-card-help{
	justify-content: flex-end;
}

.quiz-answer-button{
	color: white;
	background-color: var(--blue-color);
}

.quiz-answer-button:hover{
	background-color: var(--btn-blue-hover-color);
}