
/* Answers */
.quiz-card-options{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
}

.quiz-card-options.active{
    display: block;
}

.quiz-option{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border: .125rem solid var(--btn-secondary-hover-color);
    border-radius: .5rem;
    align-items: center;
    border-radius: .5rem;
    padding: 1rem;
    cursor: pointer;
}

.quiz-card-options .quiz-option:hover{
    border: .125rem solid var(--dark-grey-color);
}

.quiz-option-text{
    font-weight: 400;
    font-size: 1rem;
}

.quiz-option-no {
    border-radius: 50%;
/*    background: var(--btn-secondary-hover-color);*/
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    font-weight: 600;
    font-size: .875rem;
    color: var(--dark-grey-color);
    justify-content: center;
}

/* Quiz help button */
.quiz-card-help .quiz-help-button {
    background-color: white;
    color: var(--blue-color);
}

.quiz-card-help .quiz-help-button:hover{
    background-color: #edefff;
}

/* Class is-correct được gắn vào án đúng sau khi chọn */
.quiz-option.is-correct,
.quiz-option.is-correct-2 {
    pointer-events: none;
    border-color: var(--green-deep);
}

.quiz-option.clickable {
    cursor: pointer;
    pointer-events: auto;
    opacity: 1;
    cursor: pointer;
}

.quiz-option.is-correct-2:hover {
    border: .125rem dashed var(--green-deep) !important;
}

.quiz-option.is-correct-2 {
    border-style: dashed;
}

.is-correct .quiz-option-no,
.is-correct-2 .quiz-option-no,
.is-incorrect .quiz-option-no,
.is-skipped .quiz-option-no{
    position: relative;
    color: transparent;
    background: transparent;
}

/* Class is-disabled được gắn vào các đáp án k được chọn và help button */
.is-disabled{
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
}

/* Class is-incorrect được gắn vào đáp án sai mà user đã chọn */
.quiz-option.is-incorrect {
    pointer-events: none;
    border-color: var(--light-orange-color);
}

.quiz-option-no::before {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 1.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hiển thị icon check */
.is-correct .quiz-option-no::before,
.is-correct-2 .quiz-option-no::before {
    content: '\f00c'; /* Font Awesome check icon */
    color: var(--green-deep);
    font-size: 1.4rem !important;
}

/* Hiển thị icon X */
.is-incorrect .quiz-option-no::before {
    content: '\f00d'; /* Unicode cho icon fa-xmark */
    color: var(--orange-deep);
}

/* Hiển thị icon X */
.is-skipped .quiz-option-no::before {
    content: '\f00d'; /* Unicode cho icon fa-xmark */
    color: var(--dark-grey-color);
}