
<div class="quiz-answer-section multiple-choice-quiz">
	<div class="quiz-card-title">
		<span>Chọn thuật ngữ đúng</span>
	</div>

	<div class="quiz-card-answers">
		<div class="quiz-answer" data-correct="false" onclick="checkAnswer(this)">
			<div class="quiz-answer-no">1</div>
			<div class="quiz-answer-text">
				ちょきんします (貯金します)
			</div>
		</div>

		<div class="quiz-answer" data-correct="false" onclick="checkAnswer(this)">
			<div class="quiz-answer-no">2</div>
			<div class="quiz-answer-text">
				やせます (痩せます)
			</div>
		</div>

		<div class="quiz-answer" data-correct="false" onclick="checkAnswer(this)">
			<div class="quiz-answer-no">3</div>
			<div class="quiz-answer-text">
				ふとります (太ります)
			</div>
		</div>

		<div class="quiz-answer" data-correct="true" onclick="checkAnswer(this)">
			<div class="quiz-answer-no">4</div>
			<div class="quiz-answer-text">
				とどきます (届きます)
			</div>
		</div>
	</div>

	<div class="quiz-card-help">
		<button class="quiz-help-button">Bạn không biết?</button>
	</div>
</div>