
<div class="progress-overview-container">
	<div class="summary-content">
		<div class="summary-content-header">
			<div class="motivational-message">
				<h2 class="message-text">Mạnh mẽ lên, bạn có thể thành công.</h2>
			</div>

			<div class="progress-details">
				<div class="progress-header">
					<span class="progress-label">Tiến trình tổng thể:</span>
					<span class="progress-percentage">0%</span>
				</div>

				@* Progress bar *@
				<div class="progress-wrapper">
					<div class="progress-bar-container">
						<div class="progress-bar-track">
							<div class="progress-step" style="background: var(--border-button-color);">
								<div class="progress-indicator">
									<div class="progress-badge">
										<p class="progress-number">0</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Hiển thị số lượng câu hỏi -->
					<div class="total-pill progress-pill">
						<span>14</span>
					</div>
				</div>

				<div class="question-summary">
					<div>
						<span class="correct-label">Đúng</span>
					</div>

					<div>
						<span class="t1ci6njx">Tổng số câu hỏi</span>
					</div>
				</div>
			</div>
		</div>

		<div class="">
			<div class="t1r06iym">
				<span>Thuật ngữ đã học phần này</span>
			</div>

			<div class="t1d9jfsa">
				<div>asduhsuashd</div>
			</div>
		</div>
	</div>
</div>