
<div class="quiz-container">
	@* <div class="quiz-wrapper">
		<div class="quiz-header">
			<div class="quiz-card-header-top">
				<div class="quiz-card-title">
					<span>Định nghĩa</span>
				</div>
			</div>

			<div class="quiz-definition-text">
				<span>Question</span>
			</div>
		</div>

		<div class="quiz-answer-section multiple-choice-quiz">
			<div class="quiz-card-title">
				<span>Chọn thuật ngữ đúng</span>
			</div>

			<div class="quiz-card-answers">
				/* Multiple Choice Quiz */
				@await Html.PartialAsync("./_MultipleChoiceQuizPartial.cshtml")

				/* Input Answer Quiz */
				@await Html.PartialAsync("./_InputAnswerQuizPartial.cshtml")
			</div>

			<div class="quiz-card-help">
				<i class="fa-regular fa-flag btn-report"></i>

				<button class="quiz-help-button" onclick="showCorrectAnswer()">Bạn không biết?</button>
			</div>
		</div>
	</div> *@
</div>