<div class="study-progress-wrapper">
	<div class="study-progress-bar-container">
		<!-- Hiển thị số câu đúng -->
		<div class="correct-pill progress-pill">
			<span>0</span>
		</div>

		<!-- Hiển thị progress bar -->
		<div class="study-progress-bar">
			<div class="progress-bar-track">
				<div class="progress-layer" tabindex="-1">
					<div class="bar-segment progress-bar-correct"></div>
				</div>

				<div class="progress-layer" tabindex="-1">
					<div class="bar-segment progress-bar-pending"></div>
				</div>

				<div class="bar-segment progress-bar-background" width="100"></div>
			</div>
		</div>

		<!-- Hiển thị số lượng câu hỏi -->
		<div class="total-pill progress-pill">
			<span>10</span>
		</div>
	</div>
</div>