

<div class="study-progress-container d-none">
	<div class="progress-wrapper">
		<div class="progress-bar-container">
			<div class="progress-bar-track">
				@* <div class="progress-step" style="background: var(--border-button-color);">
					<div class="progress-indicator">
						<div class="progress-badge">
							<p class="progress-number">0</p>
						</div>
					</div>
				</div>
				<div class="progress-step" style="background: var(--border-button-color);"></div>
				<div class="progress-step" style="background: var(--border-button-color);"></div> *@
			</div>
		</div>

		<!-- Hiển thị số lượng câu hỏi -->
		<div class="total-pill progress-pill">
			<span>14</span>
		</div>
	</div>
</div>