.notification-bar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 999;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    height: 5rem;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.notification-bar-container.show {
    transform: translateY(0);
    opacity: 1;
}

.notification-bar {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 52.5rem;
    padding: 0;
}

.notification-bar-text {
    font-weight: 600;
    font-size: 1rem;
    color: var(--dark-grey-color);
}

.notification-bar-action {
    display: flex;
    align-items: center;
    gap: 1rem;
}