/* Progress bar */
.study-progress-wrapper {
    min-height: 4rem;
    display: flex;
    justify-content: center;
    margin: 0 auto -.5rem;
    padding: 2rem 1.5rem .5rem;
}

.study-progress-bar-container {
    display: grid;
    grid-template-columns: 4.375rem auto 4.375rem; /* Cột trái, phải: 70px, giữa: auto*/
    grid-template-areas: "left-pill bar right-pill";
    width: 100%;
    max-width: 60rem;
    gap: 1rem;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
}

.progress-pill {
    padding: .25rem 1rem;
    border-radius: 12.5rem;
    width: 4.375rem;
    height: 2rem;
    color: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1rem;
}

.correct-pill {
    background: var(--mint-light);
    border: .125rem solid transparent;
}

.total-pill {
    background: var(--light-grey-color);
    border: .125rem solid transparent;
}

.study-progress-bar {
    width: 100%;
    position: relative;
    height: 1rem;
    grid-area: bar;
    align-self: center;
}

.study-progress-bar .progress-bar-track{
    background: var(--border-button-color);
    border-radius: 12.5rem;
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.study-progress-bar .progress-bar-track .progress-layer{
    display: flex;
    width: fit-content;
    height: fit-content;
}

.study-progress-bar .bar-segment{
    position: absolute;
    border-radius: 12.5rem;
    height: 100%;
}

.study-progress-bar .bar-segment.progress-bar-correct{
    width: 1%;
    background: var(--green-deep);
    z-index: 301;
    transition: width .75s cubic-bezier(.37,0,.53,1);
}

.study-progress-bar .bar-segment.progress-bar-pending{
    width: 15%;
    background: var(--green-soft);
    z-index: 201;
}

.study-progress-bar .bar-segment.progress-bar-background{
    width: 100%;
    background: var(--border-button-color);
    z-index: 101;
}