<div class="learning-finish-container d-none">
    <div class="learning-finish-content">
        <div class="learning-finish-img">
            <img src="/images/icons/quizlet_trophy.png" alt="" />
        </div>

        <div class="learning-finish-text">
            <h2 class="learning-finish-title">Chúc mừng! Bạn đã học tất cả các thuật ngữ.</h2>
            <p class="learning-finish-desc">
                Hãy thử một vòng nữa để bạn có thể luyện tập thêm với những câu hỏi khó hơn.
            </p>
        </div>
        
        <div class="learning-finish-actions">
            <button class="btn-doing-test">Làm bài kiểm tra</button>
            <button class="btn-continue">Tiếp tục ôn luyện</button>
        </div>
        
        <div class="learning-finish-restart">
            <a onclick="resetLearningProgress()">Khởi động lại Học</a>
        </div>
    </div>
</div>
