
<div class="notification-bar-container d-none">
	<div class="notification-bar">
		<div class="notification-bar-message">
			<span class="notification-bar-text">Nhấp vào câu trả lời đúng hoặc nhấn phím bất kỳ để tiếp tục</span>
		</div>
		<div class="notification-bar-action">
			<button class="btn-continue btn-primary">Tiếp tục</button>
		</div>
	</div>
</div>