
<div class="progress-overview-container d-none">
	<div class="summary-content">
		<div class="summary-content-header fade-in">
			<div class="motivational-message">
				<h2 class="message-text">Mạnh mẽ lên, bạn có thể thành công.</h2>
			</div>

			<div class="progress-details">
				<div class="progress-header">
					<span class="progress-label">Tiến trình tổng thể:</span>
					<span class="progress-percentage">0%</span>
				</div>

				@* Progress bar của overview progress *@
				<div class="progress-wrapper" id="progressOverview">
					<div class="progress-bar-container">
						<div class="progress-bar-track">
							<div class="progress-step" style="background: var(--border-button-color);">
								<div class="progress-indicator">
									<div class="progress-badge">
										<p class="progress-number">0</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Hiển thị số lượng câu hỏi -->
					<div class="total-pill progress-pill">
						<span>0</span>
					</div>
				</div>

				<div class="question-summary">
					<div>
						<span class="correct-label">Đúng</span>
					</div>

					<div>
						<span class="total-questions-label">Tổng số câu hỏi</span>
					</div>
				</div>
			</div>
		</div>

		<div class="flashcard-section slide-in-up d-none">
			<div class="section-title">
				<span>Thuật ngữ đã học phần này</span>
			</div>

			<div class="flashcard-list">
				@for(int i = 1; i <= 7; i++){
					<div class="flashcard-item">
						<div class="flashcard-content">
							<div class="t1xa5rl1">
								<div class="term-label">Term</div>
								<div class="definition-label">Definition</div>
							</div>

							<div class="flashcard-actions">
								<button class="starred-btn" title="Gắn sao"
										data-is-starred="false"
										data-flashcard-id="0"
										onclick="starredFlashcard(this)">
									<i class="fa-solid fa-star"></i>
								</button>

								<button class="audio-btn" title="Phát âm"
										onclick="textToSpeech('Term', 'EN')">
									<i class="fa-solid fa-volume-high text-secondary"></i>
								</button>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>