@using Microsoft.AspNetCore.Identity
@using QuizletClone.Areas.Identity.Data
@using QuizletClone.DTOs.Course
@model List<RecentCourseDTO>
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Học phần của bạn | QuizletClone";
}
@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}
<div class="my-2">
    <!-- Học phần gần đây -->
    @if (Model.Count > 0)
    {
        <div>
            <h5 class="section-title">Gần đây</h5>
            <div class="row gy-2">
                @foreach (var course in Model)
                {
                    <a class="col-md-6 btn py-0 my-2" asp-controller="Course" asp-action="Details" asp-route-slug="@course.Slug">
                        <div class="recent-course p-2 row">
                            <div class="col-1 p-0">
                                <img src="/images/icons/card.png" alt="Icon">
                            </div>
                            <div class="col-10 p-0">
                                <h6 class="mb-1">@course.Title</h6>
                                <span class="fw-bold course-info m-0 text-secondary">
                                    Học phần • @course.FlashcardCount terms 
                                    • Tác giả: @(course.OwnerUserId == UserManager.GetUserId(User) ? "bạn" : course.OwnerUsername)
                                </span>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    }

    <!-- Bộ thẻ ghi nhớ phổ biến -->
    <div class="popular-courses">
        <div class="title">
            <span>Bộ thẻ ghi nhớ phổ biến</span>
        </div>

        <div class="items">
            <div class="item" onclick="pageRedirect('/create-course')">
                <div class="course-info">
                    <span class="course-title">Tieng Anh</span>
                    <span class="term-count">10 thuật ngữ</span>
                </div>
                <a class="owner-info" title="Thăm hồ sơ của Author" asp-controller="UserLibrary"
                     asp-action="Courses" asp-route-username="asdasdasdasd">
                    <img src="~/images/icons/avatar.png" class="avatar" />
                    <span class="author">Owner name</span>
                </a>
            </div>

            <div class="item" onclick="pageRedirect('/create-course')">
                <div class="course-info">
                    <span class="course-title">Tu vung tieng Nhat</span>
                    <span class="term-count">10 thuật ngữ</span>
                </div>
                <a class="owner-info" title="Thăm hồ sơ của Author" asp-controller="UserLibrary"
                   asp-action="Courses" asp-route-username="asdasdasdasd">
                    <img src="~/images/icons/avatar.png" class="avatar" />
                    <span class="author">Owner name</span>
                </a>
            </div>

            <div class="item" onclick="pageRedirect('/create-course')">
                <div class="course-info">
                    <span class="course-title">NGÀY 5: CÂU HỎI KIỂM TRA PHẦN HIỂU PART 2 ( LẦN 1)</span>
                    <span class="term-count">10 thuật ngữ</span>
                </div>
                <a class="owner-info" title="Thăm hồ sơ của Author" asp-controller="UserLibrary"
                   asp-action="Courses" asp-route-username="asdasdasdasd">
                    <img src="~/images/icons/avatar.png" class="avatar" />
                    <span class="author">Owner name</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script type="module" src="~/js/home/main.js"></script>