@model dynamic
<div class="card-settings my-4 row">
    <div class="card-settings-left col-4 d-flex justify-content-start align-items-center"></div>

    <div class="card-settings-mid col-4 d-flex justify-content-center align-items-center">
        <button id="btn-prev-card" title="Previous">
            <i class="fa-solid fa-arrow-left"></i>
        </button>

        <span class="px-3" id="card-number">1 / 10</span>

        <button id="btn-next-card" title="Next">
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>

    <div class="card-settings-right col-4 d-flex justify-content-end align-items-center">
        <button class="card-settings-right-btn" title="Bắt đầu" id="btn-play-cards">
            <i class="fa-solid fa-play"></i>
        </button>

        <button class="card-settings-right-btn" title="Trộn thẻ" onclick="toggleShuffle()">
            <i class="fa-solid fa-shuffle"></i>
        </button>

        <button class="card-settings-right-btn" title="Tùy chọn" type="button" data-bs-toggle="modal" data-bs-target="#flashcards-options-modal">
            <i class="fa-solid fa-gear"></i>
        </button>
        @await Html.PartialAsync("ViewPartials/Details/_FlashcardsOptionsModal", new {
            StarredCardCount = Model.StarredCardCount
        })

        <button class="card-settings-right-btn" title="Phóng to">
            <i class="fa-solid fa-expand"></i>
        </button>
    </div>
    <hr />
</div>