@model dynamic
<div class="congratulation-container my-5 d-none">
    <div class="row">
        <div class="col-8 d-flex align-items-center">
            <h2 class="fw-bold float-start"> Chúc mừng! Bạn đã ôn tập tất cả các thẻ.</h2>
        </div>

        <div class="col-4">
            <img class="float-end" src="/images/icons/congratulation.svg" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="row">
                <span class="fs-5 fw-bold float-start your-progress-title">Tiến độ của bạn</span>
            </div>

            <div class="row mt-4">
                <div class="col-5">
                    <!-- circle progressbar -->
                    <div class="circle-progress" style="--i:100;">
                        <h1><i class="fa-solid fa-check"></i></h1>
                    </div>
                </div>

                <div class="col-7">
                    <div class="complete">
                        <span>Hoàn thành</span> <span class="float-end">@Model.Flashcards.Count</span>
                    </div>

                    <div class="remain mt-2">
                        <span>Còn lại</span> <span class="float-end">0</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="row">
                <span class="fs-5 fw-bold float-start next-step-title">Bước tiếp theo</span>
            </div>

            <div class="row mt-4 reset-card-btns">
                <div class="col-12">
                    <button class="btn-content" id="btn-restart-all" onclick="restartAll()">
                        <img src="/images/icons/study-all.svg" alt="" class="btn-icon">
                        <div class="btn-text">
                            <p>Khởi động lại thẻ ghi nhớ với tất cả thuật ngữ</p>
                            <span>Học lại tất cả @Model.FlashcardCount thuật ngữ từ đầu</span>
                        </div>
                        <i class="fa-solid fa-chevron-right btn-arrow"></i>
                    </button>

                    <button class="btn-content" id="btn-study-starred" onclick="studyStarredCards()">
                        <img src="/images/icons/study-starred.svg" alt="" class="btn-icon">
                        <div class="btn-text">
                            <p>Học thuật ngữ có gắn sao</p>
                            <span>Tập trung @Model.StarredCardCount thuật ngữ mà bạn đã gắn sao</span>
                        </div>
                        <i class="fa-solid fa-chevron-right btn-arrow"></i>
                    </button>

                    <button class="btn-content" id="btn-reset-flashcards" onclick="resetFlashcards()">
                        <img src="/images/icons/all-flashcards.svg" alt="" class="btn-icon">
                        <div class="btn-text">
                            <p>Đặt lại thẻ ghi nhớ</p>
                            <span>Học lại tất cả @Model.FlashcardCount thuật ngữ từ đầu</span>
                        </div>
                        <i class="fa-solid fa-chevron-right btn-arrow"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <button class="btn-last-term" onclick="backToLastCard()">
        <i class="fa-solid fa-arrow-left"></i>
        <span class="mx-2">Quay lại thuật ngữ cuối cùng</span>
    </button>
</div>