<div class="edit-flashcard-modal">
    <div class="modal" tabindex="-1" id="edit-flashcard-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 50%;">
            <div class="modal-content">
                <div class="modal-header mt-3">
                    <h2 class="modal-title">Sửa</h2>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="flashcardId" />
                    <div class="flashcard-input">
                        <input class="custom-input" type="text" id="term" autocomplete="off" />
                        <input class="custom-input" type="text" id="definition" autocomplete="off" />
                    </div>
                </div>
                <div class="modal-footer mb-2">
                    <button type="button" class="btn-cancel" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" class="btn-save" onclick="updateFlashcard()">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>