@* Popup tùy chọn hiển thị flashcard *@
<div class="modal fade" tabindex="-1" id="flashcards-options-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 55%;">
        <div class="modal-content">
            <div class="modal-header mt-3">
                <h2 class="modal-title">Tùy chọn</h2>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mt-3">
                    <div class="col-9">
                        <span class="float-start" style="font-size: 1.15rem;">Chỉ học các thuật ngữ có sao</span>
                    </div>
                    <div class="col-3">
                        <label class="switch float-end mx-3">
                            <input type="checkbox" id="toggleStarred">
                            <span class="slider round"></span>
                        </label>
                   </div>
                </div>

                @* <div class="row mt-5">
                    <div class="col-9">
                        <h5 class="float-start" style="font-size: 1.15rem;">Mặt trước</h5>
                    </div>
                    <div class="col-3">
                        <select class="select-front-option float-end mx-3">
                            <option>Thuật ngữ</option>
                            <option>Định nghĩa</option>
                        </select>
                    </div>
                </div> *@

                <div class="row mt-4">
                    <div class="col-5">
                        <button class="reset-cards-btn" onclick="resetCards()">Khởi động lại Thẻ ghi nhớ</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer mb-3">
                
            </div>
        </div>
    </div>
</div>