<nav class="navigation mb-2">
    <button class="nav-button">
        <i class="fa-regular fa-copy text-primary" style="transform: rotate(-90deg);"></i>
        <span class="mt-2">Thẻ ghi nhớ</span>
    </button>
    <button class="nav-button">
        <i class="fa-solid fa-book text-primary"></i>
        <span class="mt-2">Học</span>
    </button>
    <button class="nav-button">
        <i class="fa-regular fa-check-circle text-primary"></i>
        <span class="mt-2">Kiểm tra</span>
    </button>
    <button class="nav-button">
        <i class="fa-solid fa-puzzle-piece text-primary"></i>
        <span class="mt-2">Ghép thẻ</span>
    </button>
</nav>