@model dynamic
<nav class="navigation mb-2">
    <a class="nav-button">
        <i class="fa-regular fa-copy text-primary" style="transform: rotate(-90deg);"></i>
        <span class="mt-2">Thẻ ghi nhớ</span>
    </a>
    <a class="nav-button" asp-action="Index" asp-controller="Learn" asp-route-slug="@Model.Slug">
        <i class="fa-solid fa-book text-primary"></i>
        <span class="mt-2">Học</span>
    </a>
    <a class="nav-button">
        <i class="fa-regular fa-check-circle text-primary"></i>
        <span class="mt-2">Kiểm tra</span>
    </a>
    <a class="nav-button">
        <i class="fa-solid fa-puzzle-piece text-primary"></i>
        <span class="mt-2">Ghép thẻ</span>
    </a>
</nav>