@model dynamic
<div class="user-info-action-bar my-4 row">
    <div class="user-info col-8 d-flex justify-content-start align-items-center p-0">
        <button class="btn-avatar fs-6" style="width: 3rem; height: 3rem;">
            Avt
        </button>

        <div>
            <small class="created-by">Tạo bởi</small>
            <h6 class="mb-0">@Model.OwnerUsername</h6>
            <small class="created-at">Đã tạo @Model.RelativeTime</small>
        </div>
    </div>
</div>