.accessDenied-container {
    display: flex;
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center; /* căn giữa theo chiều dọc */
    height: 50vh;
}

.error-box {
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-box img {
    width: 4.5rem;
    height: 4.5rem;
}