/* Btn options */
.btn-options {
    border: .125rem solid var(--border-button-color);
    border-radius: .5rem;
    cursor: pointer;
    padding: 6px 12px;
    font-size: .875rem;
    font-weight: 600;
    color: var(--dark-grey-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.btn-options:hover {
    background-color: var(--btn-secondary-hover-color);
}

.btn-options .selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.btn-options .options {
    position: absolute;
    top: 45px;
    right: 0;
    background-color: white;
    border: 1px solid var(--border-button-color);
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    padding: 8px 0;
    z-index: 1000;
}

.btn-options .option {
    padding: 8px 24px;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    color: var(--dark-grey-color);
    gap: 20px;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

.btn-options .option i{
    font-size: 1.2rem;
    width: 1.2rem;
}

.btn-options .option:hover {
    background-color: var(--btn-secondary-hover-color);
    color: var(--dark-grey-color);
}

/* Hiển thị dropdown khi active */
.btn-options.active .options {
    display: inline-block;
    width: 200px;
}