@import url('../shared/custom-input.css');

.passwordRequied-container {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20%;
    height: 50vh;
}

.password-box {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.password-box h2, h3{
    font-weight: 700;
}

.password-box label{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.password-box label span{
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--grey-color-2);
}

.password-box button{
    border: none;
    background-color: var(--blue-color);
    border-radius: .25rem;
    cursor: pointer;
    padding: .65rem 1.5rem;
    font-weight: 600;
    font-size: .875rem;
    color: white;
    width: 50%;
}

.password-box form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.error .custom-input {
    border-bottom-color: var(--error-message-alert);
}

.error .custom-input:focus {
    border-bottom-color: var(--error-message-alert);
    box-shadow: 0 2px 0 var(--error-message-alert);
}

.error span {
    color: var(--error-message-alert) !important;
}