.sidebar {
    width: 250px; /* Chiều rộng sidebar */
    background: #fff;
    padding: 10px 20px;
    flex-shrink: 0; /* Không co lại khi thu nhỏ màn hình */
}

.menu-list {
    list-style: none;
    padding: 0;
}

.menu-item {
    margin: 5px 0;
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--dark-grey-color);
    font-size: .875rem;
    font-weight: 600;
    transition: background 0.3s ease;
    text-decoration: none;
}

.menu-item i {
    font-size: 18px;
    margin-right: 12px;
}

.menu-item img {
    max-width: 20px;
    margin-right: 12px;
}

.menu-item.active {
    background: #eef2ff;
    color: #2b50ff;
}

.menu-item.active:hover {
    background: #eef2ff;
    color: #2b50ff;
}

.menu-item:hover {
    background: #f5f5f5;
    color: var(--dark-grey-color);
}

.menu-title {
    font-size: 14px;
    font-weight: bold;
    color: #666;
    margin-top: 10px;
    padding: 10px 12px;
}

.notification {
    position: relative;
}

.badge {
    background: #ff4d4d;
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 12px;
    position: absolute;
    top: 10px;
    right: 10px;
}