<div class="create-folder-modal">
    <div class="modal" tabindex="-1" id="create-folder-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 50%;">
            <div class="modal-content">
                <form method="post" asp-action="Create" asp-controller="Folders">
                    <div class="modal-header mt-3">
                        <h2 class="modal-title">Tạo thư mục mới</h2>
                        <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body my-3">
                        <input type="text" class="folderName-input" id="folderName" name="title" autocomplete="off" placeholder="Tiêu đề" />
                        <input type="hidden" name="userId" value="userId"/>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn-createFolder" id="createFolderBtn">Tạo thư mục</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>