:root {
    --grey-color: #6c757d;
    --light-grey-color: #282e3e1a;
    --light-green-color: #3ccfcf;
    --btn-secondary-hover-color: #edeff4;
    --input-border-bottom-color: #2e3856;
    --yellow-color: #FFCD1F;
    --bg-color-grey: #f6f7fb;
    --error-message-alert: #ff725b;
    --blue-color: #4255ff;
    --light-blue-color: #a8b1ff;
    --orange-color: #FF983A;
    --red-color: #da4543;
    --light-purple-color: #e0dcfc;
    --circle-progress-color: rgb(89, 232, 181);
    --primary-green-color: #18ae79;
    --secondary-green-color: #59e8b533;
    --dark-grey-color: #586380;
}

html {
  position: relative;
  min-height: 100%;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
}

.dropdown-toggle::after {
    display: none; /* Ẩn dấu mũi tên */
}

.btn:focus, .btn:checked {
    box-shadow: none;
}

/*Icon star*/
.fa-star {
    color: #6C757D;
}