:root {
    --grey-color: #6c757d;
    --light-grey-color: #282e3e1a;
    --light-green-color: #3ccfcf;
    --btn-secondary-hover-color: #edeff4;
    --input-border-bottom-color: #2e3856;
    --yellow-color: #FFCD1F;
    --bg-color-grey: #f6f7fb;
    --error-message-alert: #ff725b;
    --blue-color: #4255ff;
    --light-blue-color: #a8b1ff;
    --orange-color: #FF983A;
    --red-color: #da4543;
    --light-purple-color: #e0dcfc;
    --circle-progress-color: rgb(89, 232, 181);
    --primary-green-color: #18ae79;
    --secondary-green-color: #59e8b533;
    --dark-grey-color: #586380;
    --border-button-color: #d9dde8;
}

html, body {
    max-width: 100%;
    overflow-x: hidden; /* Ẩn thanh cuộn ngang */
}

html {
  position: relative;
  min-height: 100%;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
}

/* Tắt viền focus cho tất cả các input (text, radio, etc.) */
.form-check-input:focus,
.form-control:focus {
    outline: none !important; /* Loại bỏ viền xanh */
    border: none !important; /* Loại bỏ viền (nếu có) */
    box-shadow: none !important;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

/* Icon star */
.fa-star {
    color: var(--grey-color);
}

/* 2 button bên trái thanh navbar */
.logo-container {
    display: flex;
    align-items: center;
}

.logo-quizlet {
    width: 3.5rem;
    height: auto;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--grey-color);
    padding-left: 20px;
}

.flashcard-icon{
    width: 20px;
    margin-right: 12px;
}

.dropdown-toggle::after {
    display: none; /* Ẩn dấu mũi tên */
}

.layout {
    display: flex;
    height: 100vh; /* Chiều cao toàn màn hình */
}

.content {
    flex-grow: 1; /* Chiếm phần còn lại của màn hình */
    padding: 20px;
    overflow-y: auto;
}