@using SmartCards.DTOs.Course
@model CreateCourseRequestDTO
@{
    ViewData["Title"] = "Tạo học phần mới | Quizlet-Clone";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["HideSidebar"] = true;
    ViewData["NotContainer"] = true;
    ViewData["HideFooter"] = true;
}
@section Styles {
    <link rel="stylesheet" href="~/css/course/create.css" />
}

<div class="container create-course-container my-4">
    <form method="post" asp-action="Create" asp-controller="Course">
        <div class="row mb-4" id="course-form-header">
            <div class="col-6">
                <h2><strong>Tạo một học phần mới</strong></h2>
            </div>
            <div class="col-6">
                <div class="d-flex justify-content-end gap-3">
                    <button type="submit" asp-action="Create" asp-controller="Course"
                            id="create-course-btn" class="btn btn-outline-secondary">
                        Tạo
                    </button>
                    <button type="submit" id="create-review-course-btn" class="btn btn-primary py-2 px-4">Tạo và ôn luyện</button>
                </div>
            </div>
        </div>

        <!-- Input Title -->
        <div class="mb-3">
            <input type="text" asp-for="@Model.Title" name"Title" class="form-control border-0 rounded-3"
                   style="height:50px;" id="title" placeholder='Nhập tiêu đề, ví dụ "Sinh học - Chương 22: Tiến hóa"' autocomplete="off">
        </div>

        <!-- Input Description -->
        <div class="mb-4">
            <textarea class="form-control border-0 rounded-3" asp-for="@Model.Description" 
                id="description" rows="3" placeholder="Thêm mô tả..." data-val="false"></textarea>
        </div>

        <!-- Button Options -->
        <div class="row justify-content-between mb-3">
            <div class="col-8 d-flex gap-3">
                <button type="button" class="btn btn-outline-secondary" id="open-import-flashcards">
                    <i class="fa-solid fa-plus"></i> Nhập
                </button>

                <button class="btn btn-outline-secondary"><i class="fa-solid fa-plus"></i> Thêm sơ đồ</button>
            </div>

            <div class="col-4 gap-3 d-flex justify-content-end">
                <button type="button" class="btn btn-outline-secondary circle-button rounded-circle"
                        data-bs-toggle="modal" data-bs-target="#course-setting-modal" title="Quản lý quyền truy cập">
                    <i class="fa-solid fa-gear"></i>
                </button>
                @await Html.PartialAsync("ViewPartials/Create/_CourseSettingModal")

                <button type="button" class="btn btn-outline-secondary circle-button rounded-circle" 
                        id="btn-reverse-term" title="Lật thuật ngữ và định nghĩa">
                    <i class="fa-solid fa-right-left"></i>
                </button>
            </div>
        </div>

        <!-- Thông báo lỗi ở đây -->
        <div id="error-message" class="d-flex justify-content-center">
            @await Html.PartialAsync("ViewPartials/Create/_ErrorMessagePartial")
        </div>

        <!-- Terms and Definitions -->
        <div id="terms-section">
            @if (Model?.Flashcards != null)
            {
                for (int i = 1; i <= Model.Flashcards.Count; i++)
                {
                    @await Html.PartialAsync("ViewPartials/Create/_TermDefinitionPartial", new
                        {
                            count = i,          // số lượng thẻ
                            termValue = Model.Flashcards[i - 1]?.Term ?? "",
                            defiValue = Model.Flashcards[i - 1]?.Definition ?? "",
                            termLanguageId = Model.Flashcards[i - 1]?.TermLanguageId ?? 0,
                            defiLanguageId = Model.Flashcards[i - 1]?.DefiLanguageId ?? 0,
                        })
                }
            }
            else
            {
                for (int i = 1; i <= 2; i++)
                {
                    @await Html.PartialAsync("ViewPartials/Create/_TermDefinitionPartial", new
                        {
                            count = i,          // số lượng thẻ
                            termValue = "",
                            defiValue = "",
                            termLanguageId = 0,
                            defiLanguageId = 0,
                        })
                }
            }
        </div>

        <button type="button" onclick="addNewCard()" class="add-card">
            <div class="btn">
                <span>THÊM THẺ</span>
            </div>
        </button>

        <!-- Actions -->
        <div class="mt-4 d-flex justify-content-end gap-3">
            <button type="submit" asp-action="Create" asp-controller="Course" 
                    id="create-course-btn" class="btn-create-big">
                Tạo
            </button>

            <button type="submit" id="create-review-course-btn" class="btn-createAndPractice-big">
                Tạo và ôn luyện
            </button>
        </div>
    </form>
</div>
@await Html.PartialAsync("ViewPartials/Create/_ImportFlashcardsPartial")

@* <script src="~/js/course/create/create.js"></script> *@
<script type="module" src="~/js/course/create/main.js"></script>
