@using SmartCards.DTOs.Course
@model CourseDTO
@{
    ViewData["Title"] = $"Thẻ ghi nhớ: {Model.Title} | SmartCards";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Lấy ra vị trí của thẻ đã học gần nhất trong danh sách flashcards, nếu k có gán = 0
    var lastLearnedFcIndex = 0;
    if (Model.LastLearnedFlashcard != null && Model.Flashcards.Any(x => x.Id == Model.LastLearnedFlashcard.Id))
        lastLearnedFcIndex = Model.Flashcards.FindIndex(x => x.Id == Model.LastLearnedFlashcard.Id);
}
@section Styles {
    <link rel="stylesheet" href="~/css/course/details.css" />
}

<div class="container detail-course-container">
    @* @if (Model.CourseFolder != null) // Có ở trong 1 folder nào đó thì mới hiển thị
    {
        <button class="btn-folder text-secondary mt-2"><i class="fa-regular fa-folder"></i> 
            @Model.CourseFolder.Folder.Title
        </button>
    } *@

    <div class="row">
        <h2 class="mt-3" style="font-weight: 800;">@Model.Title</h2>
    </div>

    <!-- Có user khác rate thì mới hiển thị -->
    @* <div class="rate mb-2">
         <i class="fa-solid fa-star"></i>
         <span>5.0 (1 đánh giá)</span> 
    </div> *@

    <div class="row">
        <!-- Study Mode -->
        @await Html.PartialAsync("ViewPartials/Details/_StudyModesPartial.cshtml")

        <!-- Term Definition Cards -->
        <div class="card-container">
            @foreach (var flashcard in Model.Flashcards)
            {
                @await Html.PartialAsync("ViewPartials/Details/_FlashcardsPartial.cshtml", new {
                    Flashcard = flashcard
                })
            }
        </div>
    </div>

    <!-- Card Settings -->
    @await Html.PartialAsync("ViewPartials/Details/_CardSettingsPartial.cshtml", new {
        Slug = Model.Slug
    })

    <!-- User Info, Action Bar-->
    @await Html.PartialAsync("ViewPartials/Details/_UserInfoActionBarPartial.cshtml", new {
        Username = Model.Username,
        RelativeTime = Model.RelativeTime
    })

    <!-- Your terms -->
    @await Html.PartialAsync("ViewPartials/Details/_YourTermsPartial.cshtml", new
    {
        Flashcards = Model.Flashcards,
        LearnedFlashcards = Model.LearnedFlashcards,
        NotLearnedFlashcards = Model.NotLearnedFlashcards,
    })
</div>

<script>
    // Có thể truyền giá trị từ lastReviewedFcIndex đẻ sử dụng trong detail.js
    var currIndexCard = @lastLearnedFcIndex;
</script>

<script src="~/js/course/detail.js"></script>
